html {
    width: 100%;
    height: 100%;
    font-family: 'Tenor Sans', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    font-size: 14px;
    margin: 0px;
}

main {
    width: 100%;
    height: 100%;
}

button {
    font-size: 20px;
    font-family: 'Tenor Sans', sans-serif;
    border-radius: 5px;
    border: none;
    background-color: #F5F5F5;
}

button:hover {
    background-color: #C9C9C9;
    border: 1px solid gray;
}

#foodApp {
    display: flex;
    flex-flow: column nowrap;
}

#search {
    width: 100%;
    height: 70px;
    padding: 20px;
    background-color: #77D5D5;
    border: 1px solid gray;
}

#search-fields {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px 0;
}

#search-fields-bar {
    width: 65%;
    padding: 8px 12px;
    font-size: 17px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

#search-fields-delete-button {
    background-color: transparent;
    border-style: none;
    margin-left: -25px;
}

#search-fields-delete-button:hover {
    background-color: #FF8F8F;
}

#search-fields-button {
    width: 50px;
    font-size: 14px;
    margin: 0 0 0 10px;
}

#date-fields {
    text-align: center;
    padding-top: 3px;
}

#date-picker {
    font-size: 14px;
    font-family: 'Tenor Sans', sans-serif;
    border-radius: 5px;
    padding: 3px 0px 3px 10px;
}

#weekly-summary {
    margin-left: 20px;
    font-size: 1.2em;
    padding: 5px 15px;
}

#main-content {
    display: flex;
    flex-flow: row wrap;
}

#list-wrapper {
    height: 900px;
    width: 400px;
    overflow-y: auto;
    padding: 5px 25px;
    margin: 0;
    transform: translateX(-450px);
    transition: 0.3s;
    z-index: 2;

}

#list-wrapper.show{
    transform: translateX(0px);
    transition: 0.3s;
}

#list {
    padding: 0;
}


.food-view {
    background-color: #3DCD3D;
    border-radius: 5px;
    border: 1px solid lightgray;
    list-style-type: none;
    padding: 10px;
    min-height: 60px;
    display: flex;
    flex-flow: row nowrap;
}

.food-view:nth-child(odd) {
    background-color: #83EA83;
}

.item-descriptions {
    margin-right: 10px;
    flex: 1;
}


.item-name {
    font-size: 14px;
    font-weight: bold;
    margin: 0px 0px 5px 0px;
}

.brand-name {
    margin: 0px;
}

.list-nutrition {
    padding: 15px 5px 0px 0px;
}


.calorie {
    width: 50px;
}

#store {
    padding: 0 15px;
    transition: 0.3s;
    max-width: 1110px;
}

#shelve {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.food-store-view {
    margin: 10px;
    padding: 10px;
    width: 200px;
    height: 150px;
    text-align: left;
    border-radius: 20px;
    border: 1px solid lightgray;
    background-color: #FF8F8F;
    position: relative;
}

.nutrition {
    margin-top: 20px;
    margin-left: -105px;
    float: right;
}

.p-calories {
    background-color: #E92525;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 5px 15px;
    position: absolute;
    bottom: 0px;
    left: 25px;

}

.select-label {
    position: absolute;
    right: 35px;
    bottom: 45px;
}

.quantity-select {
    background-color: #F5F5F5;
    position: absolute;
    bottom: 16px;
    right: 25px;
    font-size: 13px;
}

.remove-btn-wrapper {
    position: absolute;
    top: -8px;
    left: 210px;
}

.remove-button {
    background-color: lightgray;
    font-size: 14px;
    border-radius: 10px;
    padding: 2px 7px 3px 7px;
}

#total {
    display: table;
    margin: 0px auto 70px auto;
}

.total-price {
    padding: 15px 25px;
    background-color: #FFAE6B;
    border-radius: 20px;
    border: 7px solid #E97E25;
}

.modal-bg {
    background-color: rgba(26, 26, 26, 0.7);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.modal {
    position: relative;
    width: 70%;
    margin: 8% auto;
    background-color: white;
}

.modal-close {
    text-decoration: none;
    border-radius: 15px;
    color: white;
    background-color: rgb(115,115,115);
    box-shadow: 1px 1px black;
    position: absolute;
    right: -10px;
    top: -10px;
    padding: 2px 6px;
}

.modal-close:hover {
    background-color: #00d9ff;
}

.svg-class {
    display: block;
    margin: 0 auto;
}

rect {
    fill: #E97E25;
}

rect:hover {
    fill: #77D5D5;
}

.axis path, .axis line{
    fill: none;
    stroke: black;
}

.chartLabel {
    font-size: 1.5em;
}

footer {
    border: 1px solid lightgray;
    background-color: #77D5D5;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0px;
    z-index: 1;
}

@media screen and (max-width: 900px) {
    #foodApp {

    }

    #list-wrapper {

    }

    #store {
        transform: translateY(-900px);
        transition: 0.3s;
    }

    #store.show {
        transform: translateY(0);
        transition: 0.3s;
    }

}

@media screen and (min-width: 900px) {

    #store {
        flex: 1;
        transform: translateX(-450px);
        transition: 0.3s
    }

    #store.show {
        transform: translateX(0);
        transition: 0.3s
    }
}



/*google materials icon css rules*/
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
