html {
    height: 100%;
}

body {
    font-size: 14px;
    margin: 0px;
    height: 100%;
}

#search {
    padding: 20px;
    background-color: #B1E598;
    border: 1px solid gray;
    max-height: 101px;
}

#search-fields {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px;
    height: 30px;
}

#search-fields-bar {
    width: 65%;
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid lightgray;
    border-radius: 3px;
}

#search-fields-button {
    width: 10%;
    font-size: 14px;
}

#search-filters {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
}

#main{
    height: 100%;
    background-color: white;
    padding: 40px 0px;
    display:flex;
    flex-flow: row wrap;
}

#list {
    width: 30%;
    max-height: 734px;
    overflow-y: auto;
    margin: 0px;

}

.food-view {
    background-color: #7FCE59;
    border-radius: 5px;
}

.food-view:nth-child(odd) {
    background-color: #5CB831;
}

.food-view {
    border: 1px solid lightgray;
    list-style-type: none;
    padding: 10px;
    min-height: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.item-descriptions {
}


.item-name {
    font-size: 17px;
    font-weight: bold;
    margin: 0px 0px 10px 0px;
}

.brand-name {
    margin: 0px;
}

.nutrition {
    min-width: 80px;
    align-self: center;
}

.calorie {
    width: 50px;
}

#store {
    width: 65%;
}

#shelve {
    margin-bottom: 70px;
}

#total {
    height: 70px;
    min-height: 70px;
}


footer {
    position: absolute;
    bottom: 0px;
    height: 40px;
    border: 1px solid lightgray;
    width: 100%;
    background-color: #B1E598;
    text-align: center;
}
