html {
    width: 100%;
    height: 100%;
    font-family: 'Tenor Sans', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    font-size: 14px;
    margin: 0px;
}

main {
    width: 100%;
    height: 100%;
}

button {
    font-size: 20px;
    font-family: 'Tenor Sans', sans-serif;
    border-radius: 5px;
    border: none;
    background-color: #F5F5F5;
}

button:hover {
    background-color: #C9C9C9;
    border: 1px solid gray;
}

#foodApp {
    /*display: flex;
    flex-flow: row wrap;*/
}

#search {
    width: 100%;
    height: 70px;
    padding: 20px;
    background-color: #77D5D5;
    border: 1px solid gray;
}

#search-fields {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px 0;
}

#search-fields-bar {
    width: 65%;
    padding: 8px 12px;
    font-size: 17px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

#search-fields-delete-button {
    background-color: transparent;
    border-style: none;
    margin-left: -25px;
}

#search-fields-delete-button:hover {
    background-color: #FF8F8F;
}

#search-fields-button {
    width: 50px;
    font-size: 14px;
    margin: 0 0 0 10px;
}

#date-fields {
    text-align: center;
    padding-top: 3px;
}

#date-picker {
    font-size: 14px;
    font-family: 'Tenor Sans', sans-serif;
    border-radius: 5px;
    padding: 3px 0px 3px 10px;
}

#list-wrapper {
    max-width: 430px;
    transform: translateX(-480px);
    transition: 0.3s;
    margin: 0;
    padding: 5px 25px;
    position: absolute;
    z-index: 2;
}

#list-wrapper.show{
    transform: translateX(0px);
    transition: 0.3s;
}

#list {
    padding: 0;
}

.food-view {
    background-color: #3DCD3D;
    border-radius: 5px;
}

.food-view:nth-child(odd) {
    background-color: #83EA83;
}

.food-view {
    border: 1px solid lightgray;
    list-style-type: none;
    padding: 10px;
    min-height: 60px;
    display: block;
}

.item-descriptions {
    float: left;
    margin-right: 105px;
}


.item-name {
    font-size: 14px;
    font-weight: bold;
    margin: 0px 0px 5px 0px;
}

.brand-name {
    margin: 0px;
}

.list-nutrition {
    position: absolute;
    right: 30px;
    padding: 15px 5px 0px 0px;
}


.calorie {
    width: 50px;
}

#store {
    padding: 0 15px;
    transition: 0.3s;
    max-width: 1110px;
}

#shelve {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.food-store-view {
    margin: 10px;
    padding: 10px;
    width: 200px;
    height: 150px;
    text-align: left;
    border-radius: 20px;
    border: 1px solid lightgray;
    background-color: #FF8F8F;
    position: relative;
}

.nutrition {
    margin-top: 20px;
    margin-left: -105px;
    float: right;
}

.p-calories {
    background-color: #E92525;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 5px 15px;
    position: absolute;
    bottom: 0px;
    left: 25px;

}

.select-label {
    position: absolute;
    right: 35px;
    bottom: 45px;
}

.quantity-select {
    background-color: #F5F5F5;
    position: absolute;
    bottom: 16px;
    right: 25px;
    font-size: 13px;
}

.remove-btn-wrapper {
    position: absolute;
    top: -8px;
    left: 210px;
}

.remove-button {
    background-color: lightgray;
    font-size: 14px;
    border-radius: 10px;
    padding: 2px 7px 3px 7px;
}

#total {
    display: table;
    margin: 0px auto 70px auto;
}

.total-price {
    padding: 15px 25px;
    background-color: #FFAE6B;
    border-radius: 20px;
    border: 7px solid #E97E25;
}

footer {
    border: 1px solid lightgray;
    background-color: #77D5D5;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0px;
    z-index: 1;
}

@media screen and (min-width: 975px) {
    #foodApp {
        display: flex;
        flex-flow: row wrap;
    }

    #list-wrapper {
        position: relative;
        transform: translateX(0px);
    }

    #store {
        flex: 1 0px;
    }

}

@media screen and (max-width: 550px){
    #list-wrapper {
        padding: 0 5px;
    }
}

/*google materials icon css rules*/
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
