html {
    height: 100%;
    font-family: 'Tenor Sans', sans-serif;
}

body {
    font-size: 14px;
    margin: 0px;
    height: 100%;
}

button {
    font-size: 20px;
    font-family: 'Tenor Sans', sans-serif;
    border-radius: 5px;
    border: none;
    background-color: #F5F5F5;
}

button:hover {
    background-color: #C9C9C9;
}

#search {
    padding: 20px;
    background-color: #77D5D5;
    border: 1px solid gray;
    max-height: 101px;
}

#search-fields {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px;
}

#search-fields-bar {
    width: 65%;
    padding: 8px 12px;
    font-size: 17px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

#search-fields-delete-button {
    background-color: transparent;
    border-style: none;
    margin-left: -25px;
}

#search-fields-delete-button:hover {
    background-color: #FF8F8F;
}

#search-fields-button {
    width: 10%;
    font-size: 14px;
    margin: 0 0 0 10px;
}

#search-filters {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
}

#main{
    max-height: 100%;
    background-color: white;
    padding: 0px 0px 80px;
    display:flex;
    flex-flow: row nowrap;
}

#list {
    transform: translateX(-500px);
    width: 400px;
    overflow-y: auto;
    margin: 0px;
    max-height: 100%;
    padding: 25px;
    position: absolute;
}

#list.show{
    transform: translateX(0px);
    transition: 0.3s;
}

.food-view {
    background-color: #3DCD3D;
    border-radius: 5px;
}

.food-view:nth-child(odd) {
    background-color: #83EA83;
}

.food-view {
    border: 1px solid lightgray;
    list-style-type: none;
    padding: 10px;
    min-height: 60px;
    display: block;
}

.item-descriptions {
    float: left;
    margin-right: 105px;
}


.item-name {
    font-size: 15px;
    font-weight: bold;
    margin: 0px 0px 10px 0px;
}

.brand-name {
    margin: 0px;
}

.nutrition {
    margin-top: 20px;
    margin-left: -105px;
    float: right;
}

.calorie {
    width: 50px;
}

#store {
    width: 100%;
    left: 0px;
    position: absolute;
}

#store.show {
    margin-left: 450px;
    width: auto;
}

#shelve {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.food-store-view {
    margin: 10px;
    padding: 10px;
    width: 200px;
    height: 150px;
    text-align: left;
    border-radius: 20px;
    border: 1px solid lightgray;
    background-color: #FF8F8F;
    position: relative;
}

.p-calories {
    background-color: #E92525;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 5px 15px;
    position: absolute;
    bottom: 0px;
    left: 25px;

}

.select-label {
    position: absolute;
    right: 35px;
    bottom: 45px;
}

.quantity-select {
    background-color: #F5F5F5;
    position: absolute;
    bottom: 16px;
    right: 25px;
    font-size: 13px;
}

.remove-btn-wrapper {
    position: absolute;
    top: -8px;
    left: 210px;
}

.remove-button {
    background-color: lightgray;
    font-size: 14px;
    border-radius: 10px;
    padding: 2px 7px 3px 7px;
}

#total {
    display: table;
    margin: 0px auto 70px auto;
}

.total-price {
    padding: 15px 25px;
    background-color: #FFAE6B;
    border-radius: 20px;
    border: 7px solid #E97E25;
}

footer {
    position: fixed;
    bottom: 0px;
    height: 40px;
    border: 1px solid lightgray;
    width: 100%;
    background-color: #77D5D5;
    text-align: center;
}
