body {
    font-size: 14px;
}

#search {
    background-color: white;
}

#search-fields {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px;
}

#search-fields-bar {
    width: 65%;
}

#search-fields-button {
    width: 10%;
}

#search-filters {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
}

#main{
    margin-top: 40px;
    display:flex;
    flex-flow: row wrap;
}

#list {
    width: 30%;
    background-color: #E6E6E6;
    padding: 0;
    margin-left: 20px;
}

.food-view {
    border: 1px solid black;
    list-style-type: none;
    padding: 10px;
    min-height: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.item-descriptions {
}

.item-name {
    font-size: 17px;
    font-weight: bold;
    margin: 0px 0px 10px 0px;
}

.brand-name {
    margin: 0px;
}

.nutrition {
    width: 50px;
    min-width: 50px;
    align-self: center;
}

.calorie {
}

#store {
    width: 65%;
}
